<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Silerium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SileriumDirectory.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow align-content-end">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="font-size: 28px;">Silerium</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <div class="navbar-nav">
                        @if (this.User.Identity.IsAuthenticated || this.Context.Request.Cookies["UserAuthCookie"] != null)
                        {
                            <a class="nav-item nav-link text-black text-decoration-none" asp-controller="User" asp-action="ShopCart">
                                Корзина
                                <i class="bi bi-cart"></i>
                            </a>
                        }
                        <a class="nav-item nav-link text-black text-decoration-none" asp-controller="User" asp-action="Profile">
                            Личный кабинет
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid g-0">
        <main role="main" class="pb-3">
            <div class="row flex-column flex-sm-row g-0">
                <div class="col col-md-6 col-lg-4 ">
                    <div class="toolbar panel">
                        <h2 class="text-center">Админ панель</h2>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="nav-link d-block" asp-action="Categories" asp-controller="Admin">Категории</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link d-block" asp-action="Subcategories" asp-controller="Admin">Подкатегории</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link d-block" asp-action="Products" asp-controller="Admin">Товары</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link d-block" asp-action="LoggedInUsers" asp-controller="Admin">Зарегистрированные пользователи</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link d-block" asp-action="GuestUsers" asp-controller="Admin">Незарегистрированные пользователи</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link d-block" asp-action="DataTables" asp-controller="Admin">Таблицы данных</a>
                            </li>
                            <li class="nav-item mb-2">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-8 px-3">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2023 - Silerium
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
