@model Silerium.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Добавление товара в корзину";
}

@section Scripts
{
    <script type="text/javascript">
        var amount = 0;
        var price = 0;
        $("#amount").on("change", function () {
            amount = $(this).val();
            price = parseInt($("#price").text());
            $("#price").text() = String(price * amount);
        });
    </script>
}

<div class="container" style="width: 650px;">
    <h1>@Model.Product.Name</h1>
    <img alt="картинка товара @Model.Product.Name" src="@Model.Product.Images.FirstOrDefault().Image" />
    <form asp-action="AddToCart" asp-controller="Catalog">
        <div class="row">
            <div class="col-6">
                <label for="amount" class="form-label">Количество шт.</label>
            </div>
            <div class="col-6">
                <input type="number" name="amount" id="amount" class="form-control" value="1" />
            </div>
        </div>
        <h3>Цена итого: <span id="price">@Model.Product.PriceRub</span> &#8381</h3>
        <button type="submit" class="btn btn-success text-white">В корзину</button>
    </form>
</div>