@model Silerium.ViewModels.UserLoginViewModel
@{
    ViewData["title"] = "Вход в профиль";
}
@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h2 class="text-center">Вход</h2>
<div class="container border w-50">
    <form asp-action="Login" asp-controller="User">
        <div class="mb-3 mt-2">
            <label class="form-label" asp-for="Login">Логин</label>
            <input class="form-control" type="text" asp-for="Login" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        @if (ViewData.ModelState["Wrong Login"] != null)
        {
            <ul>
                <li class="text-danger">@ViewData.ModelState["Wrong Login"].Errors.FirstOrDefault().ErrorMessage</li>
            </ul>
        }
        <div class="mb-3">
            <label class="form-label" asp-for="Email">Email</label>
            <input class="form-control" type="email" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        @if (ViewData.ModelState["Wrong Email"] != null)
        {
            <ul>
                <li class="text-danger">@ViewData.ModelState["Wrong Email"].Errors.FirstOrDefault().ErrorMessage</li>
            </ul>
        }
        <div class="mb-3">
            <label class="form-label" asp-for="Password">Пароль</label>
            <input class="form-control" type="password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        @if (ViewData.ModelState["Wrong Password"] != null)
        {
            <ul>
                <li class="text-danger">@ViewData.ModelState["Wrong Password"].Errors.FirstOrDefault().ErrorMessage</li>
            </ul>
        }
        @if (ViewData.ModelState["User not found"] != null)
        {
            <ul>
                <li class="text-danger">@ViewData.ModelState["User not found"].Errors.FirstOrDefault().ErrorMessage</li>
            </ul>
        }
        <div class="row mb-3 justify-content-center">
            <a class="btn btn-outline-secondary text-decoration-none col-4" asp-action="Register" asp-controller="User">Зарегистрироваться</a>
            <div class="col-2"></div>
            <button class="btn btn-outline-primary col-4" type="submit">Войти</button>
        </div>
    </form>
</div>