@model Silerium.ViewModels.UserViewModel
@{
    ViewData["title"] = "Выход из профиля";
}
<form asp-action="LogoutPost" asp-controller="User">
    <div class="container" style="width: 650px;">
        <h1>Вы уверены что хотите выйти из профиля?</h1>
        <div class="row mb-3">
            <div class="col-2">
                <img alt="Картинка профиля" src="data:image;base64,@(Convert.ToBase64String(Model.User.ProfilePicture))" width="168" height="168" />
            </div>
            <div class="col-2"></div>
            <div class="col-8">
                <h3>@Model.User.Name @Model.User.Surname</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button class="btn btn-outline-danger" type="submit">Да</button>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <a class="btn btn-outline-primary" asp-action="Profile" asp-controller="User">Нет</a>
            </div>
        </div>
    </div>
</form>