@model Silerium.ViewModels.AuthModels.UserRegisterViewModel
@{
    ViewData["title"] = "Регистрация";
}
@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h2 class="text-center">Регистрация</h2>
<div class="container" style="width: 500px;">
    <form asp-action="Register" asp-controller="User" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" asp-for="Name">Имя</label>
            <input class="form-control" type="text" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Surname">Фамилия</label>
            <input class="form-control" type="text" asp-for="Surname" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Email">Email</label>
            <input class="form-control" type="email" asp-for="Email" name="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Password">Пароль</label>
            <input class="form-control" type="password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ConfirmPassword">Повторите пароль</label>
            <input class="form-control" type="password" asp-for="ConfirmPassword" />
            @if (ViewData.ModelState["ServerError"] != null)
            {
                <span class="text-danger">@ViewData.ModelState["ServerError"].Errors.FirstOrDefault().ErrorMessage</span>
            }
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="BirthDate">День рождения</label>
            <input class="form-control" type="date" asp-for="BirthDate" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Country">Страна проживания</label>
            <input class="form-control" type="text" asp-for="Country" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="HomeAdress">Адрес для доствки</label>
            <input class="form-control" type="text" asp-for="HomeAdress" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Phone">Номер телефона</label>
            <input class="form-control" type="text" asp-for="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="PfpFile">Картинка профиля</label>
            <input class="form-control" type="file" asp-for="PfpFile" />
            <span asp-validation-for="PfpFile" class="text-danger"></span>
        </div>
        <input hidden name="returnUrl" value="@Model.ReturnUrl"/>
        <button class="btn btn-outline-primary mb-3" type="submit">Зарегистрироваться</button>
    </form>
</div>