@model Silerium.ViewModels.AdminModels.AdminRolesViewModel
@{
    ViewData["Title"] = "Роли";
    Layout = "_AdminPanelLayout";
}
<div class="mx-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    @Html.DisplayName("Роль")
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>
                        @role.Name
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Действие
                            </button>
                            <div class="dropdown-menu shadow">
                                <a class="dropdown-item" asp-action="EditRole" asp-controller="Admin">Редактировать</a>
                                <a class="dropdown-item" asp-action="DeleteRole" asp-controller="Admin">Удалить</a>
                                @if (role.Name != "SuperAdmin")
                                {
                                    <a style='margin-right:16px' href="/Admin/PermissionsControl/RolePermissions?roleId=@role.Id" class="dropdown-item">
                                        Управление правами
                                    </a>
                                }
                            </div>
                        </div>
                </tr>
            }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("~/Views/Shared/_PaginationPartial.cshtml", Model.PaginationModel)