html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .category-btn {
        width: 20%;
    }
}
@media (max-width: 768px) {
    .ad-text {
        text-align: center;
    }
}
@media (max-width: 850px) {
    .category-btn {
        width: 40%;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav > .nav-item > .nav-link{
    color: #ccc;
}

.nav > .nav-item > .nav-link:hover {
    color: black;
}

.toolbar {
    background-color: #6a677a;
}

.toolbar h2 {
    color: white;
}

.category-image {
    width: 300px;
    height: 300px;
}

.subcategory-image {
    width: 300px;
    height: 300px;
}

.ad-text {
    height: 800px;
}