@model Silerium.ViewModels.UserModels.ConfirmationEmailViewModel
@{
    ViewData["Title"] = "Потдверждение email";
}
<div class="container" style="width: 550px;">
    <h1>Подтвердите email адрес</h1>
    <p>На вашу почту была выслана ссылка. Перейдите по ссылке для подтверждения своей почты.</p>
    <form asp-action="SendConfirmationEmail" asp-controller="User" name="send_email_form">
        <input hidden name="onLoad" value="true" />
        @if (!Model.EmailAlreadySent)
        {
            <input name="sent" hidden value="true"/>
            <button type="submit" class="btn btn-primary" id="send_email_btn">Отправить повторно</button>
        }
        else if(Model.EmailAlreadySent && Model.EmailSentOnLoad)
        {
            <input name="sent" hidden value="false"/>
            <button type="submit" class="btn btn-primary" id="send_email_btn">Отправить повторно</button>
        }
        else if(!Model.EmailAlreadySent && Model.EmailSentOnLoad)
        {
            <p class="text-secondary text-decoration-underline" id="timer"></p>
            <button type="submit" class="btn btn-primary" id="send_email_btn" disabled>Отправить повторно</button>
        }
    </form>
</div>
@section Scripts{
    @if (!Model.EmailSentOnLoad)
    {
        <script>
            window.onload = function() {
            document.forms['send_email_form'].submit();
        }
        </script>
    }
    <script>
        var countTime = 60;
        var countdownFunc = setInterval(function(){
            document.getElementById('timer').innerHTML = "Можно будет отправить повторно через " + countTime + " секунд.";
            countTime--;
            if(now < 0)
            {
                clearInterval(countdownFunc);
                document.getElementById('timer').hidden = true;
            }
        }, 1000);
    </script>
}