@model Silerium.ViewModels.AuthenticationModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Восстановление пароля";
}
<div class="container" style="width: 450px;">

    @if (Model.Email == null)
    {
        <p>Введите email адрес вашего профиля для восстановления пароля.</p>
        <form asp-action="ForgotPasswordPost" asp-controller="User">
            <label class="form-label" asp-for="Email">Email</label>
            <input type="email" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>

            <div class="row mt-3">
                <div class="col-6">
                    <button class="btn btn-outline-success">Отправить</button>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-danger" asp-action="Login" asp-controller="User">Отмена</a>
                </div>
            </div>
        </form>
    }
    else
    {
        <p>Введите новый пароль.</p>
        <form asp-action="ForgotPasswordPost" asp-controller="User">

            <label class="form-label" asp-for="Password">Пароль</label>
            <input type="text" class="form-control" asp-for="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>

            <label class="form-label" asp-for="ConfirmPassword">Повторите пароль</label>
            <input type="text" class="form-control" asp-for="ConfirmPassword" />
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

            <div class="row mt-3">
                <div class="col-6">
                    <button class="btn btn-outline-success">Отправить</button>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-danger" asp-action="Login" asp-controller="User">Отмена</a>
                </div>
            </div>
        </form>
    }
</div>