@model Silerium.ViewModels.ProductsModels.SubcategoryViewModel

@{
    ViewData["Title"] = "Создание подкатегории";
    Layout = "_AdminPanelLayout";
}

<div class="mx-3">
    <h1>Новая подкатегория</h1>
    <hr />
    <div class="row flex-column">
        <div class="col-md-4">
            <form asp-action="CreateSubcategory" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="Subcategory.Name" class="control-label mb-2">Название</label>
                    <input asp-for="Subcategory.Name" class="form-control mb-2" />
                    <span asp-validation-for="Subcategory.Name" class="text-danger mb-2"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="categoryid">Категория</label>
                    <br />
                    <select name="categoryid" id="categoryid" class="form-select">
                        @foreach(var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="form_image">Картинка подкатегории</label>
                    <input type="file" class="form-control" asp-for="FormImage" id="form_image"/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
